
@model Apka2.Model.Law
@{
    Layout = null;
}

<html>
<head>
    <style>
        body {
            font-family: "Arial";
            font-size: 14px;
        }

        .car-name {
            color: darkgray;
        }

        .car-max-speed {
            color: tomato;
        }

        .car-registration {
            color: brown;
        }
    </style>
</head>
<body>
    
       <span>xdddddd</span>
    
</body>
</html>
